service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{room} {
      allow read;
      allow write: if false;
    }
  }
}
